div.information {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    width: 250px;
    min-height: 40px;
    max-height: 300px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    background: #fff;
    border-radius: 15px;
    transform: translate(calc(-50% + 12px), calc(-100% - 10px));
    z-index: 99;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

div.information::-webkit-scrollbar {
    display: none;
}

div.information ~ span.tail {
    position: absolute;
    height: 20px;
    background: transparent;
    /* z-index: 999; */
    z-index: -1;
    bottom: -9px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
}

div.information > span.voucher-name {
    width: 80%;
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: #222;
}

div.information > span.voucher-category {
    font-size: 1.2rem;
    color: #aaa;
    padding-bottom: 12px;
}

div.information > span.voucher-phone {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #222;
}

div.information > span.voucher-address {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #222;
    text-align: left;
}

div.information > button.close-btn {
    position: absolute;
    width: auto;
    right: 5px;
    top: 10px;
    background: transparent;
    outline: none;
    border: none;
}

div.information > button.close-btn svg path {
    fill: #222;
}

/* 
div.information > button.close-btn:after {
    content: "✕";
    color: #222;
} */

div.information > ul.voucher-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    height: auto;
}

div.information > ul.voucher-list > li.voucher {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    height: 20px;
    line-height: 1.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: left;
    color: #222;
}
